.footer {
  width: 100%;
  padding: 60px 0;
  background: $color-gray-dark;
  color: $color-white;

  &-container {
    display: flex;
    justify-content: space-between;
    font-family: $font-text;
    font-style: normal;
    padding: 0 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-socials {
      width: max-content;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item {
        &-icon {
          width: 30px;
          height: auto;
        }

        &:not(:last-of-type) {
          margin-right: 20px;
        }
      }
    }

    &-copyright {
      font-weight: $font-regular;
      font-size: 14px;
      margin-top: 35px;
      text-align: center;
      word-wrap: break-word;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      margin: 10px;

      .menu-item {
        font-family: $font-global;
        color: $color-gray-light;
        font-size: 17px;
        font-weight: $font-regular;
        line-height: 20px;
        text-transform: uppercase;
        margin: 0 auto;
        width: fit-content;

        &.bold {
          font-weight: $font-bold;
        }
      }
    }
  }
}

@include md {
  .footer {
    &-container {
      flex-direction: column;

      .content {
        height: 500px;

        &-group {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: 0;
          padding: 0;
        }
      }
    }

    .menu {
      position: absolute;
      margin-top: 60px;
      align-items: flex-start;
    }
  }
}
