.logo {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: min-content;
    color: #fff;
  }

  &-img {
    margin-right: 10px;
  }

  &-text {
    text-transform: uppercase;

    h2 {
      font-size: 40px;
      line-height: 30px;
      margin: 0;
    }

    p {
      font-family: $font-global;
      margin: 0;
      font-size: 13px;
      line-height: 12px;
    }
  }
}
