$font-global: 'Rubik', arial, serif;
$font-text: 'Roboto', arial, serif;
$font-regular: 300;
$font-bold: 700;

$color-blue: #4dc6e4;
$color-blue-light: #7299b6;
$color-blue-dark: #466d8a;
$color-blue-darkest: #1e3a4f;
$color-blue-gray: #cfdce6;
$color-blue-gray-2: #b0c4d9;
$color-gray: #f5f7f7;
$color-gray-light: #efefef;
$color-gray-dark: #313335;
$color-white: #fff;
$color-green: #a6cc45;

$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
